.search.container {
  display: flex;
  > * {
    margin-right:10px;
    font-size : 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  .selects {
      display: flex;
      select {
        width:120px;
        margin-right:10px;
         &:last-child {
          margin-right: 0;
        }
    }
  }
  .btn {
    width: 120px;
    height:50px;
    font-weight:700;
    flex-shrink : 0
  }
}